@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* HEADER and NAVBAR */

ul li{
    list-style-type: none;
}


.navbar{
    width: 100%;
    height: 10vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    cursor: pointer;
    width: 150px;
    display: flex;
    transition: 0.7s;
    
}

.logo img:hover{
  transform: scale(1.1);
}
.header{
    align-items: center;
    justify-content: center;
}
.nav-lists {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav-list{
    display: inline-block;
    margin: 15px;
}

.nav-lists a{
    color: #000;
    position: relative;
    text-decoration: none;
    font-size: 17px;
  }
  
.nav-lists a::before {
    background: hsl(45 100% 70%);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.6s ease-in-out;
    z-index: -1;
  }
  
.nav-lists a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

/* INDEX.HTML SHOWCASE */

.showcase
{
  position: relative;
  width: 75%;
  margin: auto;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  z-index: 2;
  
}




.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
  margin: auto;
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: black;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color:black;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.1em;
  color: black;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: black;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;letter-spacing: 6px;
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}

.social img{
  max-width: 75px;
}
.gojo img{
    max-width: 500px;
}

/* ABOUT.HTML  */

.about{
    margin: auto;
    width: 50%;
    min-height: 50vh;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: 0.6s;
}
.about:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
   
}
.content-section{
    float: left;
    width: 55%;
}

.obi {
    float: right;
    width: 40%;
}

.obi img{
    width: 50%;
    height: auto;
}

.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .content{
    margin-top: 10px;
    font-size: 17px;
    line-height: 1.5;
}

.content-section  .button a{
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}
.content-section .button a:hover{
    letter-spacing: 6px;
}

/* FOOTER */


.footer{
  margin-top: 150px;
  width: 100%;
  padding: 100px 15%;
  background: #333;
  color: #efefef;
  display: flex;
}

.footer div{
  text-align: center;
}
.col-2 {
  flex-grow: 2;
}

.footer div h3{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.col-1 a{
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
}

form input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}
form button{
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}


.g-recaptcha {
  position: absolute;
  top: 50%;
}

/* CONTACT */



/* ACCOUNT */

